<div class="reset-container">
  <img src="assets/images/logo.png" alt="logo" class="logo">
  <h2 class="title">Reset Password</h2>
  <h5 class="sub-title">Please set your new password</h5>
  <form class="middle" [formGroup]="resetForm" (ngSubmit)="reset()">
    <app-box-input id="password" name="password" [control]="getControl('password')" label="Password" type="password"
      placeholder="password" [required]="true">
      <i class="fa-solid fa-lock"></i>
    </app-box-input>
    <app-box-input id="confirm-password" name="confirm-password" [control]="getControl('confirmPass')"
      label="Confirm password" type="password" [required]="true" placeholder="password">
      <i class="fa-solid fa-lock"></i>
    </app-box-input>
    <div class="d-flex mt-2 align-items-center justify-content-between w-100">
      <button class="btn-base btn-cancel">Cancel</button>
      <button class="btn-base btn-handle" type="submit">Reset</button>
    </div>
  </form>
</div>
