
.login-container {
    background-color: var(--backgroundColor);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .logo {
        width: 450px;
        height: 200px;
    }
    .title {
        color: var(--color);
        font-weight: 600;
        margin-bottom: 3rem;
    }
    .middle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 350px;
        app-box-input {
            width: 100%;
        }
        .forgot {
            align-self: flex-end;
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 2rem;
        }

    }
    button {
        font-size: 1.2rem;
        padding: 10px 40px;
    }
    
}