<app-layout fc="Candidate Management" mt="Candidate List">
  <div class="candidate-list">
    <div class="top">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="formSearch">
        <div class="search-base">
          <app-input-search placeholder="Search by full name" [control]="getControl('name')"></app-input-search>
          <app-input-search placeholder="Search by event name" [control]="getControl('eventName')"></app-input-search>
          <ng-select labelForId="channel" formControlName="status" [searchable]="false" placeholder="Search by event status">
            <ng-option value="In-progress">In progress</ng-option>
            <ng-option value="End">End</ng-option>
            <ng-option value="Cancelled">Cancelled</ng-option>
          </ng-select>
          <button class="btn-base btn-handle" type="submit">Search</button>
          <button class="btn-base btn-cancel" (click)="clearForm()">Clear search</button>
          <button class="bg-transparent border-0 p-0 advanced-filter-btn" (click)="toggleAdvancedFilter()">Advanced
            filter</button>
        </div>
        @if (showAdvancedFilter) {
        <div class="advanced-filter">
          <div class="d-flex align-items-center justify-content-between advanced-filter-top">
            <span>Refine your search</span>
            <div class="d-flex align-items-center gap-3">
              <button class="btn-base btn-cancel btn-apply">Apply</button>
              <button class="btn-base btn-cancel btn-clear">Clear filter</button>
            </div>
          </div>
          <div class="advanced-filter-bottom form-multiple-input">
            <div class="row">
              <div class="col-4 form-content row align-items-center">
                <label for="university" class="col-3">University</label>
                <ng-select labelForId="university" [searchable]="false" placeholder="Select a university"
                  [clearable]="false">

                </ng-select>
              </div>
              <div class="col-4 form-content row align-items-center">
                <label for="skills" class="col-3">Skills</label>
                <ng-select labelForId="skills" [searchable]="false" placeholder="Select skill" [clearable]="false">

                </ng-select>
              </div>
              <div class="col-4 form-content row align-items-center">
                <label for="language" class="col-3">Language</label>
                <ng-select labelForId="language" [multiple]="true" [searchable]="false" placeholder="Select language"
                  [clearable]="false">
                  @for (car of cars; track car.id) {
                  <ng-option [value]="car.id">{{car.name}}</ng-option>
                  }
                </ng-select>
              </div>
              <div class="col-4 form-content row align-items-center">
                <label for="graduation" class="col-3">Graduation year</label>
                <div class="input-group-container">
                  <ng-select labelForId="graduation" [searchable]="false" placeholder="From year" [clearable]="false">

                  </ng-select>
                  <ng-select labelForId="graduation" [searchable]="false" placeholder="To year" [clearable]="false">

                  </ng-select>
                </div>
              </div>
              <div class="col-4 form-content row align-items-center">
                <label for="working-time" class="col-3">Working time</label>
                <ng-select labelForId="working-time" [searchable]="false" placeholder="Select a working time"
                  [clearable]="false">

                </ng-select>
              </div>
              <div class="col-4 form-content row align-items-center">
                <label for="gender" class="col-3">Gender</label>
                <ng-select labelForId="gender" [searchable]="false" placeholder="Select a gender" [clearable]="false">

                </ng-select>
              </div>
              <div class="col-4 form-content row align-items-center">
                <label for="graduation" class="col-3">GPA</label>
                <div class="input-group-container">
                  <input type="text" placeholder="From">
                  <input type="text" placeholder="To">
                </div>
              </div>
              <div class="col-4 form-content row align-items-center">
                <label for="recer" class="col-3">Recer</label>
                <ng-select labelForId="recer" [searchable]="false" placeholder="Select a recer" [clearable]="false">

                </ng-select>
              </div>
              <div class="col-4 form-content row align-items-center">
                <label for="channel" class="col-3">Channel</label>
                <ng-select labelForId="channel" [searchable]="false" placeholder="Select channel" [clearable]="false">

                </ng-select>
              </div>
              <div class="col-4 form-content row align-items-center">
                <label for="job" class="col-3">Apply job</label>
                <ng-select labelForId="job" [searchable]="false" placeholder="Select job" [clearable]="false">

                </ng-select>
              </div>
              <div class="col-4 form-content row align-items-center">
                <label for="status-candidate" class="col-3">Status</label>
                <ng-select labelForId="status-candidate" [searchable]="false" placeholder="Select status"
                  [clearable]="false">

                </ng-select>
              </div>
              <div class="col-4 form-content row align-items-center">
                <label for="talent" class="col-3">Talent</label>
                <input type="text" name="" id="talent" placeholder="Select talent">
              </div>
            </div>
          </div>
        </div>
        }
      </form>
    </div>
    <div class="middle action-group mt-4 d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-3">
        <a href="/candidates/create" class="btn-link btn-base btn-handle">Create candidate</a>
        <a href="#" class="btn-link btn-base btn-handle">Import list</a>
      </div>
      <button class="btn-base btn-cancel btn-export">Export</button>
    </div>
    <div class="bottom mt-3 table-responsive">
      <table class="table  table-list table-striped table-borderless">
        <thead class="table-light">
          <tr>
            <th scope="col" class="d-flex align-items-center">
              <input class="me-1" type="checkbox" name="" id="select-all">
              <label class="label-select-all" for="select-all">select all</label>
            </th>
            <th scope="col">Full Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Email</th>
            <th scope="col">University</th>
            <th scope="col">Major</th>
            <th scope="col">Skills</th>
            <th scope="col">Apply Job</th>
            <th scope="col">Event</th>
            <th scope="col">Chanel</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          @if (candidates.length == 0) {
          <tr>
            <td colspan="14" class="w-100 text-center">No Candidate Match</td>
          </tr>
          }
          @for (candidate of candidates; track $index) {
          <tr>
            <td class="select-item"><input type="checkbox" name="" id=""></td>
            <td class="color-primary">{{candidate.fullName}}</td>
            <td>{{ convertToDate(candidate.dateOfBirth, "DD/MM/YYYY") }}</td>
            <td>{{candidate.gender}}</td>
            <td>{{candidate.phoneNumber}}</td>
            <td>{{candidate.email}}</td>
            <td>{{candidate.university.name}}</td>
            <td>{{candidate.major}}</td>
            <td>{{candidate.skills}}</td>
            <td>{{getApplyJob(candidate.positions)}}</td>
            <td>{{candidate.eventInfo.name}}</td>
            <td>{{candidate.channel.name}}</td>
            <td>{{candidate.status}}</td>
            <td>
              <div class="btn-icon-group">
                <button class="btn-icon">
                  <ng-icon [svg]="icons['remixInfoI']" /></button>
                <button class="btn-icon">
                  <ng-icon [svg]="icons['remixPencilLine']" /></button>
                <button class="btn-icon text-danger" data-bs-toggle="modal" data-bs-target="#modalConfirm">
                  <ng-icon [svg]="icons['remixDeleteBin5Line']" /></button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</app-layout>
