<div class="forgot-container">
    <img src="assets/images/logo.png" alt="logo" class="logo">
    <h2 class="title">Forgot Password</h2>
    <h5 class="sub-title">Please enter your email address and we'll send you a link to reset your password</h5>
    <form class="middle" [formGroup]="forgotForm" (ngSubmit)="forgot()">
      <app-box-input id="email" name="email" [control]="getControl('email')" label="Email address" type="email" [required]="true" placeholder="example@hotmail.com">
        <ng-icon [svg]="icons['remixLockLine']" />
      </app-box-input>
      <div class="d-flex mt-2 align-items-center justify-content-between w-100">
        <button class="btn-base btn-cancel" type="submit">Cancel</button>
          <button class="btn-base btn-handle" type="submit">Submit</button>
      </div>
    </form>
  </div>