
$color: #626263;
.forgot-container {
    background-color: var(--backgroundColor);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .logo {
        width: 100px;
        height: 100px;
    }
    .title {
        color: var(--color);
        font-weight: 600;
        margin-bottom: 3rem;
    }
    .sub-title {
        color: $color;
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 2rem;
        width: 332px;
        text-align: center;
    }
    .middle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 350px;
        app-box-input {
            width: 100%;
        }
        .forgot {
            align-self: flex-end;
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 2rem;
        }
    }
    app-box-input {
        width: 100%;
    }
}