/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --backgroundColor: #f7fcff;
  --color: #555555;
  --primary-color: #183cfb;
  --input-color: #626263;
  --content-color: #e7eff2;
  --span-color-des: #000000;
  --height-table-list: calc(100vh - 8rem - 238px);
}
.form-multiple-input {
  font-weight: 700;
  font-size: 15px;
  table {
    border: 1px solid #DDDDDD !important;
  }
  .td-warning {
    font-weight: 400;
    font-style: italic;
  }
  .td-blank {
    height: 38.5px;
  }
  .form-content {
    padding-right: 16%;
    margin-bottom: 1rem;
    label {
      height: fit-content;
    }
    textarea {
      width: 350px;
      min-height: 155px;
      font-size: 15px;
      padding: 0 10px;
      outline: none;
      background-color: #ffff !important;
      height: 38px;
      border-radius: 8px;
      color: var(--input-color) !important;
      font-weight: 500;
      border: 1px solid #e1e2e2;
      margin: 0;
      line-height: 38px;
    }
    span.description {
      width: 250px;
      font-size: 15px;
      padding: 0 10px;
      height: 38px;
      color: var(--span-color-des);
      font-weight: 400;
      line-height: 38px;
    }
    input,
    select {
      width: 250px;
      font-size: 15px;
      padding: 0 10px;
      border-radius: 8px;
    }
    .ng-select {
      .ng-select-container {
        border-radius: 8px;
      }
      .ng-value-container {
        padding-top: 0;
        .ng-placeholder {
          top: 8px;
          font-weight: 500;
          padding-bottom: 0;
        }

        .ng-input {
          padding-bottom: 0;
        }
      }
    }
    .ng-select-container {
      width: 250px;
    }
  }
  button,
  a {
    padding: 5px 10px;
    border-radius: 5px;
  }
}
.pagination {
  .page-item {
    &.active .page-link {
      border-color: #dee2e6;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      color: #000;
      background-color: transparent;
      font-weight: 700;
    }
  }
}
.btn-link {
  text-decoration: none;
  border: none;
  &:hover {
    color: #fff;
  }
}
.btn-base {
  border: 1px solid var(--primary-color);
  width: 120px;
  border-radius: 8px;
  padding: 10px;
  font-weight: 700;
}
button:disabled {
  opacity: 0.8;
}
.btn-cancel {
  background-color: #fff;
  color: var(--primary-color);
  &:hover {
    color: var(--primary-color);
  }
}
.btn-handle {
  color: #fff;
  background-color: var(--primary-color);
}
app-layout {
  width: 100%;
}
input,
select {
  outline: none;
  background-color: #ffff !important;
  height: 38px;
  border-radius: 8px;
  color: var(--input-color) !important;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #e1e2e2;
  width: 100%;
  margin: 0;
  line-height: 38px;
}
.btn-icon {
  border: none;
  outline: none;
  background-color: transparent;
}
.table-list {
  thead {
    width: calc(
      100% - 1em
    ); /* scrollbar is average 1em/16px width, remove it from thead width */
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
  }
  tbody {
    height: var(--height-table-list);
    overflow-y: auto;
    display: block;
  }
  td,
  th {
    word-wrap: break-word; /* Ngắt dòng từ khi vượt quá chiều rộng */
    text-overflow: ellipsis; /* Cắt bớt nội dung với dấu "..." nếu quá dài */
    overflow: hidden;
  }
}
.modal {
  .modal-content {
    padding: 2rem;
    .modal-header {
      img {
        width: 28px;
        height: auto;
      }
      p {
        color: var(--color);
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
    .modal-body {
      div {
        text-align: center;
        word-wrap: break-word; /* Ngắt dòng từ khi vượt quá chiều rộng */
        text-overflow: ellipsis; /* Cắt bớt nội dung với dấu "..." nếu quá dài */
        overflow: hidden;
      }
    }
  }
}
